# Virtual Environment
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# macOS
.DS_Store

# IDE
.vscode/
.idea/

# Environment Variables
.env

# Logs
*.log

# Generated Reports
reports/*.pdf

# Temporary Files
*.tmp

# Python Packaging
build/
dist/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# Uploaded Audio Files
# Uploaded Audio Files
data/audio/*.mp3
data/audio/*.wav
data/audio/*.m4a

# Keep empty audio folder
!data/audio/.gitkeep

# Keep empty reports folder
!reports/.gitkeep

# Streamlit secrets
.streamlit/secrets.toml

# Pytest cache
.pytest_cache/